<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syne"/>
	<title>Say It!</title>
	<center><h1> Get that venom off your chest!</h1>
</head>
<style>
  body {
  background-color: #ffffff;
  }
  .w3-container {
    width: 60%;
  }
  .w3-bl {
    color: rgb(107, 26, 46) !important;
    background-color: rgba(255, 255, 179, 0.3) !important;
  }
  .w3-blood {
    color: rgb(107, 26, 46) !important;
    background-color: #ffffff;
  }

 </style>

<body>

<center>
<img src="{{url_for('static', filename='img/anon.png')}}">
<div class="w3-text-purple">
  <p class="w3-large"><strong>Don't worry, we don't tell anyone</strong></p>
  <!--Logs will disappear after some time anyway-->
</div>
<form class="w3-container w3-text-pink" action="/"  method="post" target="_self">
  <input class="w3-input w3-round-xlarge w3-bl link" name="msg" type="text" placeholder="I wish I was...">
  <input type="submit" class="w3-button w3-hover-pink w3-large w3-round-xlarge w3-purple link" value="Send">
</form>
<div class="w3-blood w3-large" >
  <h2> {{posted}} </h2>
</div>
</center>


</body>
