<head>
	<title>glut0n7</title>
	<center><h1> Mmmm Coooookieeees</h1></center>
	<!--cookie question-->
	<!--When asking for cookies, always be polite-->
</head>
<script> var _0x8899 = 0x31;</script>
<style>
  .bottom-three {
     margin-bottom: 3cm;
 }
 h1 {
 	color: white
 }
  body {
  background-color: black;
}
</style>
<script type="text/javascript" src="{{url_for('static', filename='js/cks.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/asking.js')}}"></script>

 
<body>

<p class="bottom-three"></p>

<center>
	<img src="{{url_for('static', filename='img/bunchofcookies.jpeg')}}" style="width:250px;height:180px;">
	<p class="bottom-three"></p>
	<button onclick="requestOne()" type="button">Try one!</button>	
</center>
</body>
