<!DOCTYPE html>
<html lang="en">
  <!-- Dont be afraid to ask for help -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syne"/>
    <title>C4TP1Cs</title>
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <style>

	body, html {
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			height: 100%;
			margin: 0 auto;
	}
    body {
        background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80); /* The image used for background*/
        background-repeat: no-repeat; /* Do not repeat the image */
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        font-family: "Syne", sans-serif;
    }

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        /*margin-right: auto;*/
        /*margin-left: auto;*/
		margin: 0 auto;
    }

    .image-container {
        text-align: center;
        width: 100%;
    }

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .link {
        min-width: 30% !important;
    }

    .w3-container {
      display: flex;
      width: 32% !important;
      align-items: center;
      justify-content: center;
    } 


	@media only screen and (max-device-width: 600px) {
		body, html {
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			height: 100%;
			margin: 0 auto;
		}
    .link {
        min-width: 70% !important;
    }
    .w3-container {
      display: flex;
      width:72% !important;
      align-items: center;
      justify-content: center;
    } 

	}

    .w3-yellow,
    .w3-hover-purple:hover,
    .w3-text-black {
        color: rgba(255, 204, 217) !important;
        background-color: rgba(255, 255, 179, 0.3) !important;
    }
    ::placeholder {
      color: rgb(161, 140, 145) !important;
    }

    </style>
  </head>

  <body class="w3-white">
    <!-- Content container -->
    <div class="container-fluid">
      <!-- Image and name container. Change to your picture here. -->
      <div class="image-container">
        <p><a href="/">
        <img
          src= "{{url_for('static', filename='img/blackcat.gif')}}" 
          class="w3-margin"
          alt="lil' black cat"
          max-width="100%"
          height="150px"
          style="border-radius: 5%"
        />
        </a></p>
    

        <!-- Content. Add bio. -->
        <div class="w3-text-white">
          <p class="w3-xxlarge"><strong>My Cats!!</strong></p>
        </div>



        <!-- Links section 1. Replace the # inside of the "" with your links. -->
        <div class="links-container">
          <a href="/show?img=alba.jpg" class="w3-button w3-hover-pink w3-large w3-round-xlarge w3-yellow link" target="_self">Alba</a>
          <a href="/show?img=bruno.jpg" class="w3-button w3-hover-pink w3-large w3-round-xlarge w3-yellow link" target="_self">Bruno</a>
          <a href="/show?img=fluffy.jpg" class="w3-button w3-hover-pink w3-large w3-round-xlarge w3-yellow link" target="_self">Fluffy</a>
          <div class="w3-text-purple">
            <p class="w3-large"><strong>Leave us a message <3</strong></p>
          </div>
          <form class="w3-container w3-card-4 w3-text-pink" action="/"  method="post" target="_self">
            <input class="w3-input w3-border w3-round-xlarge w3-yellow link" name="message" type="text" placeholder="ur cute msg here">
            <input type="submit" class="w3-button w3-hover-pink w3-large w3-round-xlarge w3-yellow link" value="Send">
          </form>
    
        </div>

        <div class="w3-text-pink">
          <p class="w3-xlarge"><strong>{{ error }}</strong></p>
        </div>

    </div>

  </body>
</html>

